<ion-header>
  <ion-toolbar>
    <ion-title>
      IMC Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form style="margin: 20px;">
        <ion-item>
            <ion-input placeholder="Your name" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Height in meters" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Weight in kilograms" type="number"></ion-input>
        </ion-item>

        <ion-button expand="block" style="margin-top: 20px;">Calculate</ion-button>
    </form>
</ion-content>
