<ion-header>
  <ion-toolbar>
    <ion-title>
      IMC Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form style="margin: 20px;" (ngSubmit)="calculate()">
        <ion-item>
            <ion-input
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="user.name"
                placeholder="Your name"
                type="text">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-input
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="user.height"
                placeholder="Height in meters"
                type="number">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-input
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="user.weight"
                placeholder="Weight in kilograms"
                type="number">
            </ion-input>
        </ion-item>

        <ion-button 
            expand="block"
            style="margin-top: 20px;"
            type="submit"
        >Calculate</ion-button>
    </form>
</ion-content>
